
<MudAppBar Bottom="true" Fixed="true" Color="Color.Primary">
<<<<<<< HEAD
<<<<<<< HEAD
    @*<div id="background">*@
        <MudIconButton Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Inherit" Edge="Edge.Start" Href="/login" />
    @*</div>*@
    <MudSpacer />
    @*<div id="background">*@
        <MudIconButton Icon="@Icons.Material.Filled.FavoriteBorder" Color="Color.Inherit" Edge="Edge.End" Href="/search" />
    @*</div>*@
        <MudSpacer />
@*<div id="background">*@
    <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" Href="/map" />
@*</div>*@
        <MudSpacer />
@*<div id="background">*@
    <MudIconButton Icon="@Icons.Filled.ShoppingCart" Color="Color.Inherit" Edge="Edge.Start" Href="/cart" />
@*</div>*@
=======
=======
>>>>>>> 6fc9ffeb4e398c67da4e56343860521110fdb178
    <MudIconButton Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Inherit" Edge="Edge.Start" Href="/login" />
    <MudSpacer />
    <MudIconButton Icon="@Icons.Filled.Search" Color="Color.Inherit" Edge="Edge.End" Href="/search" />
    <MudSpacer />
    <MudIconButton Icon="@Icons.Filled.History" Color="Color.Inherit" Edge="Edge.End" Href="/buyagain" />
    <MudSpacer />
    <MudIconButton Icon="@Icons.Filled.Map" Color="Color.Inherit" Edge="Edge.End" Href="/map" />
    <MudSpacer />
    <MudIconButton Icon="@Icons.Filled.ShoppingCart" Color="Color.Inherit" Edge="Edge.End" Href="/cart" />

<<<<<<< HEAD
>>>>>>> 6fc9ffeb4e398c67da4e56343860521110fdb178
=======
>>>>>>> 6fc9ffeb4e398c67da4e56343860521110fdb178

</MudAppBar>

@code{

}