@page "/cart"

<h1>Inventory</h1>





<MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.AddShoppingCart" Color="Color.Error">Banana</MudButton>
<MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.AddShoppingCart" Color="Color.Error">Pasionfruit</MudButton>
<MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.AddShoppingCart" Color="Color.Error">Zuchinni</MudButton>
<MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.AddShoppingCart" Color="Color.Error">Melon</MudButton>
<MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.AddShoppingCart" Color="Color.Error">Apple</MudButton>
<MudSpacer />

@code {
    public string TextValue { get; set; }
}