@page "/buyagain"

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<MudMainContent Class="pt-0">
    <MudList Clickable="true">
        <MudListItem Text="App Bookmark Item 1" Icon="@Icons.Filled.Bookmark" />
        <MudListItem Text="App Bookmark Item 2" Icon="@Icons.Filled.Bookmark" IconColor="Color.Primary" />
        <MudListItem Text="App Bookmark Item 3" Icon="@Icons.Filled.Bookmark" IconColor="Color.Secondary" />
        <MudListItem Text="App Bookmark Item 4" Icon="@Icons.Filled.Bookmark" IconColor="Color.Tertiary" />
        <MudListItem Text="App Bookmark Item 5" Icon="@Icons.Filled.Bookmark" IconColor="Color.Info" />
        <MudListItem Text="App Bookmark Item 6" Icon="@Icons.Filled.Bookmark" IconColor="Color.Success" />
        <MudListItem Text="App Bookmark Item 7" Icon="@Icons.Filled.Bookmark" IconColor="Color.Warning" />
        <MudListItem Text="App Bookmark Item 8" Icon="@Icons.Filled.Bookmark" IconColor="Color.Error" />
        <MudListItem Text="App Bookmark Item 9" Icon="@Icons.Filled.Bookmark" IconColor="Color.Dark" />
    </MudList>
</MudMainContent>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

