@page "/search"
@inject NavigationManager NavManager
@inject Data.DataCart DataCart
@using pleaseWork.Data
@using Models
@using Newtonsoft.Json;

<MudTextField @bind-Value="@search_text" @onkeydown="@Enter" Label="Search" Variant="Variant.Filled"></MudTextField>
<div id="search-button">
    @*<MudButton Variant="Variant.Filled" DisableElevation="true" OnClick="beginSearch">Search</MudButton>*@
</div>
@*HelperText="@results_text"*@

<MudTabs Elevation="2" Rounded="true" Centered="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Produce">
        <MudGrid Spacing="2" Class="mt-2" Justify="Justify.Center">
            @if (Products == null || Products.Count == 0)
            {
                <MudText Typo="Typo.body2">No results found.</MudText>
            }
            else
            {
<<<<<<< HEAD
                foreach (var product in Products)
=======
                for(var i = 0; i < Products.Count; i++)
>>>>>>> f76e8fe643614c8c9cabcdbe197896a89874ed95
                {
                    <MudItem>
                        <MudCard Elevation="10" Height="180px" Width="172px">
                            <MudPaper Height="110px" Width="172px" />
                            <MudCardContent>
<<<<<<< HEAD
                                <MudText>@product</MudText>
                                <MudText Typo="Typo.body2">@product</MudText>
=======
                                <MudText>Products[@i]name</MudText>
                                <MudText Typo="Typo.body2">Products[@i]price</MudText>
>>>>>>> f76e8fe643614c8c9cabcdbe197896a89874ed95
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                }
            }
        </MudGrid>
    </MudTabPanel>
    <MudTabPanel Text="Farmers">
        <MudGrid Spacing="2" Class="mt-2" Justify="Justify.Center">
            @if (Farmers == null || Farmers.Count == 0)
            {
                <MudText Typo="Typo.body2">No results found.</MudText>
            }
            else
            {
<<<<<<< HEAD
                foreach (var farmer in Farmers)
=======
                for (var i = 0; i < Farmers.Count; i++)
>>>>>>> f76e8fe643614c8c9cabcdbe197896a89874ed95
                {
                    <MudItem>
                        <MudCard Elevation="10" Height="180px" Width="172px">
                            <MudPaper Height="110px" Width="172px" />
                            <MudCardContent>
<<<<<<< HEAD
                                <MudText>@farmer</MudText>
=======
                                <MudText>Farmers[@i].name</MudText>
>>>>>>> f76e8fe643614c8c9cabcdbe197896a89874ed95
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                }
            }
        </MudGrid>
    </MudTabPanel>
</MudTabs>

@code {
    public string TextValue { get; set; }
<<<<<<< HEAD
    public List<Product> Products = new List<Product>();
    public List<string> Farmers = new List<string>();
=======
    public List<Product> Products { get; set; }
    public List<string> Farmers { get; set; }
>>>>>>> f76e8fe643614c8c9cabcdbe197896a89874ed95
    private DataCart.Item[] items;
    private MudTheme Theme = new MudTheme();

    string search_text = "";
    string results_text = "";

    //String[] items = { "Apples", "Bananas", "Carrots", "Apples", "Cherries" };

    private void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            int results_count = 0;
            for (int i = 0; i < items.Length; i++)
            {
                if (items[i].name == search_text)
                {
<<<<<<< HEAD

=======
                    
>>>>>>> f76e8fe643614c8c9cabcdbe197896a89874ed95
                }
            }

            if (results_count == 0)
            {
                results_text = "No results found for " + search_text;
            }
            else if (results_count == 1)
            {
                results_text = results_count + " result for " + search_text;
            }
            else
            {
                results_text = results_count + " results for " + search_text;
            }
        }
    }

    private void toProduct()
    {
        //Console.WriteLine(s);
        NavManager.NavigateTo("/product");
    }

    public DataCart.Item[] getCart()
    {
        return DataCart.getCart2();
    }

    private async Task SearchProducts()
    {
<<<<<<< HEAD
        HttpClient client = new HttpClient { BaseAddress = new Uri("https://farmersmercato.azurewebsites.net/api/search-products") };
=======
        HttpClient client = new HttpClient { BaseAddress = new Uri("https://farmersmercato.azurewebsites.net/api/search") };
>>>>>>> f76e8fe643614c8c9cabcdbe197896a89874ed95

        HttpResponseMessage response = null;
        response = await client.GetAsync(client.BaseAddress);

        var data = await response.Content.ReadAsStringAsync();
<<<<<<< HEAD
        Products = JsonConvert.DeserializeObject<List<Product>>(data);
=======
        dynamic accounts = JsonConvert.DeserializeObject(data);

        foreach (var account in accounts)
        {
            Products.Add(account.inventory);
        }
>>>>>>> f76e8fe643614c8c9cabcdbe197896a89874ed95

        return;
    }

    private async Task SearchFarmers()
    {
<<<<<<< HEAD
        HttpClient client = new HttpClient { BaseAddress = new Uri("https://farmersmercato.azurewebsites.net/api/search-farmers") };
=======
        HttpClient client = new HttpClient { BaseAddress = new Uri("https://farmersmercato.azurewebsites.net/api/search") };
>>>>>>> f76e8fe643614c8c9cabcdbe197896a89874ed95

        HttpResponseMessage response = null;
        response = await client.GetAsync(client.BaseAddress);

        var data = await response.Content.ReadAsStringAsync();
        dynamic accounts = JsonConvert.DeserializeObject(data);

        foreach (var account in accounts)
        {
<<<<<<< HEAD
            Farmers.Add((string)account.name);
=======
            Farmers.Add(account.name);
>>>>>>> f76e8fe643614c8c9cabcdbe197896a89874ed95
        }

        return;
    }

    protected override async Task OnInitializedAsync()
    {
        items = await DataCart.getCart();
<<<<<<< HEAD
        await SearchProducts();
        await SearchFarmers();
    }
}

<style>
    #farmer-nav-bar {
        visibility: hidden;
    }
</style>
=======
        // await SearchProducts();
        // await SearchFarmers();
    }
}
>>>>>>> f76e8fe643614c8c9cabcdbe197896a89874ed95
